html{
		background-image: url('../pic/background_001.jpg');
		
 		 background-size:contain;
		background-position:right;
	background-attachment: fixed;
	 		background-repeat:no-repeat;
}
body{background-color:transparent;}
/* .row,.col-md-12,.col-lg-12,.col-md-10,.col-lg-10,.col-md-6,.col-lg-6{background-color:transparent;} */

/* стиль категорий верзнего меню */
#cats {font-weight:600;}
#cats li a:hover{background-color:#F5F7E1;color:#018940}
/* конец стиль категорий верзнего меню */

/*стиль категорий массажёров выпадающего меню */
#mas_cats{padding:0;}
#mas_cats li a{font-weight:600; line-height:35px;color: #009C4B;}
#mas_cats li a:hover{color: #018940;}
/*конец стиль категорий массажёров выпадающего меню */

/*меняем цвет "массажёры" выпадшем меню */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	color: #009C4B;
	background-color: #F5F7E1;
}
/*конец меняем цвет "массажёры" выпадшем меню */


::selection{color:#fff;background:#303E28;}
::-moz-selection{color:#fff;background:#303E28;}

.page_header{margin-bottom:35px;color:#385A4C;}
h1,h3,h2{color:#385A4C;}
a{color:#44AB18;}
a:hover{color:#44AB18;}
.carousel-caption  a{color:#fff;}
.carousel-caption  a:hover{color:#FFFFFF;}

.prod{margin-top:25px;padding-bottom:25px;}

@media screen and (min-width: 1000px){
.prod_underline{border-bottom:1px solid green;}
}

/* .prod:hover{background-color:#AECA72;}
.prod:hover .heding1prod{color:#475C3D;} */
.prod a{font-weight:bold;}
.heding1prod h3{color:#475C3D;font-weight:bold;font-size:1.3em;margin-top:10px;}
.futer1prod{color:#475C3D;font-size:1.1em;margin-bottom:10px;font-weight:400;}

.cntnt{background-color:#fff;box-shadow: 3px 0px 2px 3px #fff;}


.max-wh100{max-height:100%;max-width:100%;}

.bigger-margin-on-small{margin-top:71px;} 

.navbar-default .navbar-brand{color:#1C762F;font-weight:bold;}
.navbar-default .navbar-brand:hover{color:#1C762F;}





.navbar-default .navbar-nav > li > a:hover {
	color: #009C4B;
}

.navbar-default .navbar-nav > li > a{
    color: #006934;
}



@media screen and (min-width: 740px){
	.navbar-default .navbar-nav > li > a:hover {
    box-shadow: 0px 3px 0px 0px #009C4B;
}
	.navbar-default .navbar-nav > li > a{
    transition: box-shadow 0.35s;
}
.navbar-default .navbar-nav .active{box-shadow: 0px 3px 0px 0px #006934;}
}
/*
.navbar-default .navbar-nav > li > a  {color:#1C762F;}
.active   {border-bottom:3px solid #006934;font-weight:bold;margin-bottom:-3px;}
.navbar-default .navbar-nav > li > a:hover{border-bottom:3px solid #006934;margin-bottom:-3px;color:#1C762F;}
*/

/*TO DELETE*/
/* .navbar-default .navbar-nav > li > a :hover {background-color:#CAE462;} */
/* .navbar-default .navbar-nav > li:hover{background-color:#CAE462;} */
/*TO DELETE*/

/*.dropdown-menu > li > a{color:#1C762F;line-height:35px;width:auto;}
.dropdown-menu > li > a:hover{background-color:#CAE462;color:#fff}
 .dropdown-menu{background-color:#F8F8F8;}
.dropdown-menu  > .active >a{background-color:#F8F8F8;font-weight:bold;color:#1C762F;}
.dropdown-menu  > .active >a:hover{background-color:#CAE462;font-weight:bold;color:#1C762F;} */

@media (max-width:732px){
	html{
			background-image: none;
	}
}

@media (max-width:1199px){
	.bigger-margin-on-small{
		margin-top:121px;
	}
}

@media (max-width:768px){
	.bigger-margin-on-small{
		margin-top:71px;
	}
}
.right_side{width:105px;position: fixed; margin-top:95px;text-align:left;margin-left:-25px;}
.right_side_254{width:254px; position: fixed;margin-top:80px;margin-left:-110px;}
.right_side_191{width:191px; position: fixed;margin-top:80px;margin-left:-100px;}
.thumbnail{background-color:transparent;background-image:url('../pic/border.png');background-repeat:repeat-x;border:0px;border-left:2px solid #77B664; border-radius:0px;}

.right_side li{/* list-style-type:none; */list-style-image: url('../pic/leaf.ico');line-height:25px;text-align:left;font-weight:700;color:#44AB18;vertical-align:middle;}
.right_side li:hover{cursor:pointer;color:#006633;}
.right_side li:before {    
/* font-family: 'FontAwesome';
content: '\f192';
color: #006633; */
letter-spacing: 5px;
font-weight:100;
}
.link-not-link{color:#44AB18;}
.link-not-link:hover{cursor:pointer;color:#006633;}
.text-underline {text-decoration:underline;}

.checkboxess_img{margin-top:25px;text-align:center;}

.checkbox{vertical-align:middle;}
.checkbox:hover{cursor:pointer;}

.inlineCheckbox1{clear:both;}

.pehod {color:#56D01E;font-weight:bold;cursor:pointer;}
.pehod:hover{color:#44AB18;text-decoration:underline;}

.checkboxess{color:#006633;padding-top:15px; line-height:35px;}


 .footer .col-md-4,.footer .col-md-3{background-color:#FFFFFF;border-top:2px solid #77B664;}
 .footer_contacts li{list-style-image: url('../pic/leaf.ico');list-style-position:inside;}
 .footer li{list-style-type:none;line-height:25px;margin-left:-40px;}
 .footer h4{font-size:24px;color:#385A4C;}
/*.footer  ul {
	list-style-type:none;
    margin: auto;
}
.footer li{text-align:center;margin-left:-25px;line-height:25px;}
 */


input[type=checkbox] {
    display: none;
}

 input[type=checkbox] + label:before {
    font-family:'FontAwesome';
    display: inline-block;
    font-size: 17px;
   font-weight: 200;
} 
input[type=checkbox] + label:before {
    content:"\f10c"; /* The Open Circle Can be replaced with another Font Awesome Icon */
    color: #006633;
    cursor: pointer;
}
 input[type=checkbox] + label:before {
    letter-spacing: 5px;
} 
input[type=checkbox]:checked + label:before {
    content:"\f05d"; /* Replace with f111 for a Solid Circle (or any other Font Awesome Icon */
    color: #00661A; /* Remove this if you remove the 3 Last Rules of the CSS */
}

/*
and(min-width:768px)
.thumbnail{border:0px;}
.heding1prod ,.futer1prod{
    display: none;
    background: #ccc;
}
.hover {
    background: #aaa;
}
.hover:hover {
    background: red;
}
.hover:hover .heding1prod,.hover:hover .futer1prod {
    display: block;
} */

.sub-head{font-size:1.3em;font-weight:500;color:#385A4C;line-height:34px;margin-bottom:25px;}