:root {
	box-sizing: border-box;
	line-height: 1;
}
*,*::before,*::after {
	box-sizing:inherit;
}

.price_link {
	cursor: pointer;
}

@media screen and (min-width: 1000px) {
	.modal_inputEmail {
		position: fixed;
		top: 15vh;
		left: calc(50vw - 175px);
	}
}

@media screen and (min-width: 740px) {
	.modal_inputEmail {
		position: fixed;
		top: 15vh;
		left: calc(50vw - 175px);
	}
}

@media (max-width:732px) {
	.modal_inputEmail {
		position: fixed;
		top: 50vh;
		left: calc(50vw - 175px);
	}
}

@media (max-width:1199px) {
	.modal_inputEmail {
		position: fixed;
		top: 15vh;
		left: calc(50vw - 175px);
	}
}

@media (max-width:768px) {
	.modal_inputEmail {
		position: fixed;
		top: 55vh;
		left: calc(50vw - 175px);
	}
}

.show_input_modal {
			position: absolute;
			top: 150px;
			right: 240px;
		}
		.modal_inputEmail {
			/* display: block; */
			width: 350px;
			height: 150px;
			background: #fff;
			border-radius: 3px;
			box-shadow: 0 0 3px 0 var(--accent-color);
			position: fixed;
			--accent-color: green;
		}
		.modal_container {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			height: 100%;
			line-height: 1.5rem;
			position:absolute;
			top:0;
			left:0;	
			text-align: center;
		}
		.modal_inputEmail_input {
			width: 50%;
			text-align: center;
			line-height: 1.5rem;
			border:0;
			border-bottom: 1px solid var(--accent-color);
			transition: all .3s;
			outline: none;
		}
		/* .modal_inputEmail_input:focus {
			transform: translateX(-1px) translateY(-1px);
			border:0;
			border-bottom: 2px solid var(--accent-color);
			outline: none;
		} */
		button.send_request {
			line-height: 1.5rem;
		}
		.hidden {
			display: none;
		}
		.button_ok {
		
		}

		.modal_inputEmail_closeButton {
			display: block;
			width: 18px;
			height: 18px;
			position: absolute;
			top: 3px;
			right: 3px;
			/* padding: 3px; */
			/* transform: scale(.8); */
			/* transition: transform .2s; */
		}
		/* .modal_inputEmail_closeButton:hover {
			transform: scale(1) translateX(-1px) translateY(1px);
		} */

		.modal_inputEmail_closeButton svg {
			margin: 3px;
			height: 12px;
			width: 12px;
			fill: var(--accent-color);
		}

		.modal_button {
			display: block;
			border-radius: 3px;
			background-color: #fff;
			border: 1px solid var(--accent-color);
			box-shadow: 3px 3px 0px 1px var(--accent-color);
			transition: all .4s;
			padding:.4rem .6rem;
		}

		.modal_button:hover {
			/*transform: translateX(-2px) translateY(-2px);*/
			box-shadow: 0px 0px 0px 2px var(--accent-color);
			background-color:var(--accent-color);
			color:#fff;
		}

		.modal_button:active {
			transform: translateX(1px) translateY(1px);
		}
		.modal_button:disabled {
			background-color: #fff;
			transform: none;
			box-shadow: none;
			border-color: #fff;
		}