<!-- <meta charset="utf-8" /> -->

<table
  width="500px"
  border="0"
  cellpadding="0"
  cellspacing="0"
  align="center"
  style="border-collapse: collapse"
>
  <tr>
    <td>
      <!-- contacts and logo -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse"
      >
        <tr>
          <td width="175" align="center" valign="middle">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                line-height: 30px;
                color: #575756;
                padding: 0px;
                margin: 0px;
                margin-top: 25px;
                margin-bottom: 15px;
              "
            >
              +7 977 270 71 07<br />
              info@timber-dis.ru
              <br />
              https://timber-dis.ru
            </span>
          </td>
          <td>
            <img src="pic/cover1_e.jpg" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- header -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse"
      >
        <tr valign="middle" align="center">
          <td colspan="2">
            <p
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin-left: 55px;
                margin-right: 55px;
                margin-bottom: 15px;
                margin-top: 15px;
                line-height: 25px;
              "
            >
              Мы, ООО "Тимбэ Дистрибуция", предлагаем широкий ассортимент
              продукции из алтайской берёзы: пилки, расчёски, массажёры,
              совочки, лопатки.
              <br />
              <!-- Производство в Алтайском крае - ближе к легендарной алтайской берёзе.
					<br /> -->
              Отгрузка со склада в Москве.
              <!-- - ближе к Вам. -->
              <br />
              Натуральное сырьё, высококлассные итальянские и немецкие станки
              делают нашу продукцию вне конкуренции.
              <br />
              Ознакомиться с ассортиментом Вы можете на сайте
              <br />
              <a href="https://timber-dis.ru/" style="color: #006934"
                >timber-dis.ru</a
              >.
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- плашка условия -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse; margin-top: 35px"
      >
        <tr>
          <td width="125px" align="center">
            <img src="pic/border_left__short.jpg" />
          </td>
          <!-- <td width="200px" valign="middle" align="center" bgcolor="#98BF21">
				<h1 style="font-family:Verdana, Geneva, sans-serif; font-size:14px; padding:0px;margin:0px;margin-bottom:7px;margin-top:7px;line-height:18px;color:#006934;">
					Условия
				</h1>
			</td> -->
          <td width="125px" valign="middle" align="center">
            <h1
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 7px;
                margin-top: 7px;
                line-height: 20px;
                color: #006934;
                font-weight: 700;
              "
            >
              Условия сотрудничества
            </h1>
          </td>
          <td width="125px" align="center">
            <img src="pic/border_right__short.jpg" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- текст условий -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse"
      >
        <tr>
          <td valign="middle" align="center">
            <ul
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                margin: 0px;
                margin-bottom: 0px;
                line-height: 18px;
                line-height: 35px;
                list-style-type: none;
                padding-left: 0;
                text-align: center;
              "
            >
              <li>
                <img
                  src="pic/leaf_copy.jpg"
                  style="position: relative; top: 3px"
                />
                Мы не ограничиваем минимальную партию заказа
              </li>
              <li>
                <img
                  src="pic/leaf_copy.jpg"
                  style="position: relative; top: 3px"
                />
                Отгружаем по факту оплаты
              </li>
              <li>
                <img
                  src="pic/leaf_copy.jpg"
                  style="position: relative; top: 3px"
                />
                Доставка до терминала Вашей транспортной компании за наш счёт
              </li>
            </ul>
          </td>

          <!-- <img src="pic/leaf_copy.jpg" /> -->
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- плашка пилки -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse; margin-top: 35px"
      >
        <tr>
          <td width="200px" align="center">
            <img src="pic/border_left.jpg" />
          </td>
          <td width="100px" valign="middle" align="center">
            <h1
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 7px;
                margin-top: 7px;
                line-height: 18px;
                color: #006934;
                font-weight: 700;
              "
            >
              <a
                href="https://timber-dis.ru/production/foot_files.html"
                style="
                  font-family: Verdana, Geneva, sans-serif;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                  margin-bottom: 7px;
                  margin-top: 7px;
                  line-height: 18px;
                  color: #006934;
                  font-weight: 700;
                "
                >Пилки</a
              >
            </h1>
          </td>
          <td width="200px" align="center">
            <img src="pic/border_right.jpg" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- текст пилки -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse"
      >
        <tr>
          <!-- <td><img src="pic/pic/jpg/mass1.jpg" alt=""></td> -->
          <td>
            <img
              src="pic/pa1105.jpg"
              alt="Пилка абразивная 1105 большая"
              title="Пилка абразивная 1105 большая"
            />
          </td>

          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              Пилки для стоп разного размера и формы из алтайской берёзы.
            </span>
          </td>
        </tr>

        <tr>
          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              Двусторонние тёрки различной абразивности.
            </span>
          </td>

          <!-- <td><img src="pic/pic/jpg/mass2.jpg" alt=""></td> -->
          <td>
            <img
              src="pic/pa1106.jpg"
              alt="Пилка абразивная 1106 фасонная"
              title="Пилка абразивная 1106 фасонная"
            />
          </td>
        </tr>

        <tr>
          <!-- <td><img src="pic/pic/jpg/mass3.jpg" alt=""></td> -->
          <td>
            <img
              src="pic/pa1204.jpg"
              alt="Пилка абразивная 1204 малая"
              title="Пилка абразивная 1204 малая"
            />
          </td>

          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              При регулярном использовании оказывают тонизирующее воздействие на
              организм.
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- плашка расчёски -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse; margin-top: 35px"
      >
        <tr>
          <td width="200px" align="center">
            <img src="pic/border_left.jpg" />
          </td>
          <td width="100px" valign="middle" align="center">
            <h1
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 14px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 7px;
                margin-top: 7px;
                line-height: 18px;
                color: #006934;
                font-weight: 700;
              "
            >
              <a
                href="https://timber-dis.ru/production/combs.html"
                style="
                  font-family: Verdana, Geneva, sans-serif;
                  font-size: 14px;
                  padding: 0px;
                  margin: 0px;
                  margin-bottom: 7px;
                  margin-top: 7px;
                  line-height: 18px;
                  color: #006934;
                  font-weight: 700;
                "
                >Расчёски</a
              >
            </h1>
          </td>
          <td width="200px" align="center">
            <img src="pic/border_right.jpg" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- текст расчёски -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse"
      >
        <tr>
          <!-- <td><img src="pic/pic/jpg/comb4.jpg" alt=""></td> -->
          <td>
            <img
              src="pic/rd1104.jpg"
              alt="Расчёска РД1104"
              title="Расчёска РД1104"
            />
          </td>

          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              Большой выбор расчёсок и гребней разных размеров, модификаций и
              форм.
            </span>
          </td>
        </tr>

        <tr>
          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              Расчёски и гребни поставляются в индивидуальной упаковке с
              еврослотом.
            </span>
          </td>

          <!-- <td><img src="pic/pic/jpg/comb2.jpg" alt=""></td> -->
          <td>
            <img
              src="pic/rd3101.jpg"
              alt="Расчёска РД3101"
              title="Расчёска РД3101"
            />
          </td>
        </tr>

        <tr>
          <!-- <td><img src="pic/pic/jpg/comb3.jpg" alt=""></td> -->
          <!-- <td><img src="pic/rd4102.jpg" alt='Расчёска РД4102' title='Расчёска РД4102'></td> -->

          <td valign="middle" align="center">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 12px;
                padding: 0px;
                margin: 0px;
                margin-bottom: 15px;
                line-height: 18px;
              "
            >
              Удобны в использовании. Полезны для волос и кожи головы. Популярны
              в качестве нанесения косметических и лечебных средств.
            </span>
          </td>

          <td>
            <img
              src="pic/rd5101.jpg"
              alt="Расчёска РД5101"
              title="Расчёска РД5101"
            />
          </td>
        </tr>

        <!-- <tr>
			<td><img src="pic/rd5101.jpg" alt='Расчёска РД5101' title='Расчёска РД5101'></td>

			<td valign="middle" align="center">
				<span style="font-family:Verdana, Geneva, sans-serif; font-size:12px; padding:0px;margin:0px;margin-bottom:15px;line-height:18px;">
					Возможно нанесение вашего логотипа, иной информации.
				</span>
			</td>
		</tr> -->
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <!-- реквизиты -->
      <table
        width="500px"
        border="0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        style="border-collapse: collapse; text-align: center; margin-top: 35px"
      >
        <tr>
          <td colspan="2">
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 10px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 18px;
                color: #a5a5a5;
              "
            >
              г. Москва, ООО "Тимбэ Дистрибуция" 2021
            </span>
          </td>
          <td>
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 10px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 18px;
                color: #a5a5a5;
              "
            >
              ИНН: 7716874820
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 10px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 18px;
                color: #a5a5a5;
              "
            >
              ОКПО: 19993280
            </span>
          </td>
          <td>
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 10px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                line-height: 18px;
                color: #a5a5a5;
              "
            >
              КПП: 771501001
            </span>
          </td>
          <td>
            <span
              style="
                font-family: Verdana, Geneva, sans-serif;
                font-size: 10px;
                padding: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                line-height: 18px;
                color: #a5a5a5;
              "
            >
              ОГРН: 5177746127004
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
