body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.controls {
  /* takes 5ems */
  position: fixed;
  /* top: 2em; */
  width: 100%;
  text-align: center;
  height: 130px;
  padding-top: 20px;
  top: 0;
}

.preview {
  position: relative;
  top: 130px;
}

.preview-iframe {
  width: 100%;
  height: calc(99vh - 150px);
  padding: 0;
}